:root {
  --bg: #000000;
  --fg: #f7f7f7;
  /* Gradients Fixed Here */
  --variant-1: linear-gradient(135deg, #7b7b7b, #bababa);
  --variant-2: linear-gradient(135deg, #434343, #616161);
  --variant-3: linear-gradient(135deg, #428103, #6ab04c);
  --disabled-folder-bg: #4a4a4a;
  --disabled-folder-fg: #b0b3ad;
}

body {
  height: 100%;
}

.projects-heading {
  font-size: 16vw;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: "Smooch Sans", sans-serif;
  text-transform: uppercase;
  padding: 2vw;
}
.projects-heading span {
  color: #4e9407;
}
.curve-text {
  position: relative;
  display: inline-block;
}

.curve-svg {
  position: absolute;
  left: 50%;
  bottom: -10px; /* Adjusted for better alignment */
  transform: translateX(-50%);
  width: 115%; /* 👈 thodi stretch like screenshot */
}

h2 {
  font-family: "Cause", sans-serif;
  font-size: 3vw;
  border-top: 1px solid #cccccc72;
  padding-top: 2vw;
}

p {
  font-family: "Cause";
  font-size: 2vw;
  margin-top: 2vw;
}

.folders {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background-color: var(--bg);
  font-family: cursive;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
}

.folder {
  position: relative;
  flex: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.row:nth-child(2) .folder:nth-child(1) {
  flex: 2;
}
.row:nth-child(2) .folder:nth-child(2) {
  flex: 3;
}

.folder-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100%;
  pointer-events: none;
}

.folder-preview-img {
  position: absolute;
  top: 50%;
  width: 20rem;
  height: 12rem;
}

.folder-preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.folder-preview-img:nth-child(1) {
  left: 20%;
  transform-origin: top left;
}
.folder-preview-img:nth-child(2) {
  left: 50%;
  transform-origin: center;
}
.folder-preview-img:nth-child(3) {
  left: 80%;
  transform-origin: top right;
}

.folder-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.folder-index {
  position: relative;
  width: 40%;
  padding: 0.75rem;
}

.folder-index::after {
  content: "";
  position: absolute;
  top: 0;
  left: 99%;
  height: 101%;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 25% 0, 100% 100%, 0% 100%);
  background: inherit; /* Inherits the gradient */
}

.folder-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0 0.25rem 0 2rem;
}

.folder-index,
.folder-index::after,
.folder-name {
  transition: background 250ms ease; /* Transition on 'background' for gradients */
}

/* Applying Gradients */
.folder.variant-1 :is(.folder-index, .folder-index::after, .folder-name) {
  background: var(--variant-1);
}
.folder.variant-2 :is(.folder-index, .folder-index::after, .folder-name) {
  background: var(--variant-2);
}
.folder.variant-3 :is(.folder-index, .folder-index::after, .folder-name) {
  background: var(--variant-3);
}

.folder.disabled :is(.folder-index, .folder-index::after, .folder-name) {
  background: var(--disabled-folder-bg) !important;
}
.folder.disabled :is(h1, p) {
  color: var(--disabled-folder-fg);
}

.row:nth-child(1) {
  bottom: -13rem;
}
.row:nth-child(2) {
  bottom: -7.5rem;
}
.row:nth-child(3) {
  bottom: -2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}
p {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
  .row {
    flex-direction: column;
    bottom: 0 !important;
  }
  .folder {
    margin-bottom: -0.5rem;
  }
  .folder-preview {
    display: none;
  }
  .folder-name {
    padding: 0 2rem 2rem;
  }
}
