@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=News+Cycle:wght@400;700&family=Smooch+Sans:wght@100..900&display=swap");


* {
  margin:0;
  padding:0;
  box-sizing:border-box
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}

footer{
  border-top: 1px solid #a3a3a375;
  text-align: center;
  padding: 2vw;
  background-color: #222;
}

footer p{
  font-size: 1.2rem;
  font-family:  "Cause", sans-serif;
}